.forgot {
	.con {
		.wrap {
			.main_con {
				background-image: none;

				header {
					margin-top: 50px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 30px;

					h1 {
						font-weight: 700;
						font-size: 20px;
					}

					p {
						font-weight: normal;
						font-size: 13px;
						line-height: 21px;
					}
				}
			}

			.forgot_form {
				.wrap {
					display: flex;
					flex-direction: column;
					width: 100%;
					margin: 0 auto;
					//border: 1px solid red;
					gap: 30px;
					justify-content: center;
					align-items: center;

					img {
						width: 130px;
						display: block;
					}

					.email {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 10px;

						p {
							font-weight: 700;
							font-size: 14px;
						}

						input[type="text"] {
							border: none;
							border-radius: 8px;
							padding: 15px;
							width: 277px;
							margin-bottom: 10px;
						}
					}

					button {
						width: 100%;
						margin: 0 auto;
						padding: 13px 0px;
						cursor: pointer;
						background-color: #130160;
						color: #fff;
						font-family: "DM Sans";
						letter-spacing: 1px;
						font-weight: 700;
						font-size: 12px;
					}

					a {
						width: 100%;

						button {
							background-color: #d6cdfe;
							margin-bottom: 80px;
						}
					}
				}
			}
		}
	}
}
